%ensemble {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5em;
}

$menu: white;

header > div:not(nav) {
  font-size: 1.5em;
}

header > nav:nth-of-type(3) {
  font-size: 1.5em;
}

header > nav:last-of-type {
  background-color: rgb(204, 155, 63);
}

header > section {
  background-color: rgba(112, 60, 24, 0.548);
  font-family: serif;
  font-weight: bold;
}

.navbar-nav a {
  color: $menu;
  margin: 0px;
}

.navbar-toggler {
  border-bottom: $menu;
}

nav > div > img {
  height: 60px;
  width: 60px;
}

@media (min-width: 576px) {
  header > nav:nth-child(2) {
    display: none;
  }
}

@media (max-width: 575px) {
  header > nav:last-of-type {
    display: none;
  }
}

.jumbotron {
  background-image: url("images/principale.jpg");
  background-size: cover;
  background-position: center;
  height: 65vh;
}
.jumbotron > div {
  text-decoration: underline;
  font-family: "Times New Roman", Times, serif;
  font-size: 2em;
}

aside + div,
header + div > p {
  @extend%ensemble;
}

.barre::after {
  content: "";
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 11.5px;
  width: 40px;
  height: 3px;
  background-color: #000;
}

@media (max-width: 422px) {
  .table,
  aside + div {
    display: none;
  }
}

.card-title {
  font-size: 1.8em;
  font-family: "Times New Roman", Times, serif;
}

main > aside > section:first-child {
  font-size: 2.5em;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  margin-top: 15vh;
}

main > aside > section:nth-child(2) {
  font-size: 1.8em;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
}
